<%= stylesheet_link_tag "404_error" %>
<div class="error-content">
    <div class="error-title">
    404
    </div>
    <h1 class="error-heading">お探しのページは見つかりませんでした。</h1>
    <p class="error-sentence">URLが間違っているか、ページが移動した可能性があります。</p>
</div>