<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.representable? %>
    <div class="blob">
      <%= image_tag blob.variant( resize: '800' ) %>
    </div>
  <% end %>
</figure>
