<div class="card m-4">
    <div class="card-body">
        <%= notification_form(notification) %>
        <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
        <br>
        <%= link_to (t '.delete'), notification_path(notification), method: :delete, class: 'text-center' %>
    </div>
</div>