<%= stylesheet_link_tag "top" %>
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <ul class="list-inline">
      <li class='top-message'>
        <h1 class='top-word mt-4'>
          <%= link_to 'まだ見ぬ世界を読もう', novels_path %>
        </h1>
      </li>
      <li class='list-inline-item col-sm-4 reviews'>
        <div class='background mb-3'>
          <h4 class='mb-3'>最近批評した人</h4>
          <% @reviews.each do |review| %>
            <p><%= link_to review.user.name, user_path(review.user_id), class: 'link-text' %></p>
          <% end %>
        </div>
      </li>
      <li class='list-inline-item col-sm-6 novels'>
        <div class='background mb-3'>
          <h4 class='mb-3'>最近投稿された作品</h4>
          <% @novels.each do |novel| %>
            <!-- 表示するタイトルの字数を制限 -->
            <p><%= link_to novel.title.truncate(18), novel_path(novel), class: 'link-text' %></p>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
