<%= stylesheet_link_tag "top" %>
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <div class='row d-flex flex-row align-items-center justify-content-center'>
      <div class='col-md-3' style='width: 15rem;'>
        <div class='background'>
          <h4 class='mb-3'>最近批評した人</h4>
          <% @reviews.each do |review| %>
            <p><%= link_to review.user.name, user_path(review.user_id), class: 'link-text' %></p>
          <% end %>
        </div>
      </div>
      <div class='col-md-4' style='width: 18rem;'>
        <div class='background'>
          <h4 class='mb-3'>最近投稿された作品</h4>
          <% @novels.each do |novel| %>
            <p><%= link_to novel.title, novel_path(novel), class: 'link-text' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



