  <footer class="footer fixed-bottom bg-info" style="height:50px" >
    <div class="container list-inline list-unstyled d-flex align-items-center" style="height:50px">
      <div class="float-start list-inline-item">
        <%= link_to '利用規約', rule_path, class:'text-white' %>
      </div>
      <div class="mx-auto list-inline-item">
        <%= link_to 'プライバシーポリシー', privacy_path, class:'text-white' %>
      </div>
      <div class="float-end list-inline-item">
        <!-- 仮リンク先 -->
        <%= link_to 'お問い合わせ', root_path, class:'text-white' %>
      </div>
    </div>
  </footer>
