  <footer class="footer fixed-bottom bg-info" style="height:80px" >
    <div class="container list-inline d-flex align-items-center" style="height:50px">
      <div class="mr-auto list-inline-item">
        <%= link_to (t 'shared.footer.policy'), privacy_path, class:'text-white text-decoration-none' %>
      </div>
      <div class="mx-auto list-inline-item">
        <%= link_to (t 'shared.footer.rule'), rule_path, class:'text-white text-decoration-none' %>
      </div>
      <div class="ml-auto list-inline-item">
        <%= link_to (t 'shared.footer.about_app'), about_path, class:'text-white text-decoration-none' %>
      </div>
    </div>
    <div class="d-flex justify-content-center"  style="height:30px">
      <%= 'Copyright ©︎ 2022 PlotHome' %>
    </div>
  </footer>
