  <footer class="footer fixed-bottom bg-info" style="height:55px" >
    <div class="container list-inline list-unstyled d-flex align-items-center" style="height:50px">
      <div class="float-start list-inline-item">
        <%= link_to (t 'shared.footer.rule'), rule_path, class:'text-white' %>
      </div>
      <div class="mx-auto list-inline-item">
        <%= link_to (t 'shared.footer.policy'), privacy_path, class:'text-white' %>
      </div>
      <div class="float-end list-inline-item">
        <!-- 仮リンク先 -->
        <%= link_to (t 'shared.footer.inquiry'), root_path, class:'text-white' %>
      </div>
    </div>
  </footer>
