<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to edit_novel_path(novel), id: "button-edit-#{novel.id}" do %>
    <i class="fa-solid fa-pen-fancy"></i>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to novel_path(novel), id: "button-delete-#{novel.id}", 
        method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
    <i class="fa-solid fa-trash"></i>
    <% end %>
  </li>
</ul>