<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="mt-5 mb-3"><%= t ('.topic') %></h1>
      <%= render 'form', { novel: @novel} %>
    </div>
  </div>
</div>
