<% set_meta_tags title: t('.topic') %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="mt-4 mb-4"><%= t ('.topic') %></h1>
      <%= render 'form', { novel: @novel} %>
    </div>
  </div>
</div>