.about {
    text-align: center;
}

.important {
    background:linear-gradient(transparent 50%, #ffff66 0%);
    width: fit-content;
}

.bigin {
    text-decoration:underline;
    text-decoration-color: skyblue;
}

.fa-twitter-square {
    font-size: 35px;
}

.fa-envelope {
    font-size: 35px;
}
