@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Zen Old Mincho', serif;
}

a {
  text-decoration: none;
}

.pagination>li>a {          
    border: none;
    color: #696969;
  }
  
  .pagination>.active>a {     
    background: #93c9ff;
    border-radius: 15px;
  }
  
  .pagination>li>a:hover {        
    border-radius: 15px;
  }

.pagination {
    justify-content: center;
    margin: 2rem;
}

.message {
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }
}
