@import 'bootstrap/scss/bootstrap';

body {
  font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

a {
  text-decoration: none;
}

.pagination>li>a {          
    border: none;
    color: #696969;
  }
  
  .pagination>.active>a {     
    background: #93c9ff;
    border-radius: 15px;
  }

  .pagination>li>a:hover {        
    border-radius: 15px;
  }

.pagination {
    justify-content: center;
    margin: 2rem;
}

.message {
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }
}

.link-text {
  color: rgb(243, 126, 31);
}
