.error-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .error-title {
        color: #e0720a;
        font-size: 160px;
        font-weight: bold;
    }

    .error-heading {
        font-size: 30px;
        color: #e0720a;
        font-weight: bold;
        margin: 0;
        padding-left: 1em;
    }

    .error-sentence {
        font-size: 14px;
        padding-bottom: 40px;
        font-size: 16px;
        padding-left: 1em;
    }
}