.header {
  background: linear-gradient(-150deg, #05FBFF, #1E00FF);

    .navbar-toggler-icon {
      background-color: #1E00FF;
      opacity: 100%;
      width: 110px;
      height: 45px;
      color: white;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

ul{
  margin: 0;
}
li {
  margin: 0;
}