.top-wrapper {
    background-image: image-url("top.jpg");
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
  
    .top-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      color: rgb(64, 151, 233);

      .top-meaasege {
          padding: 0;
          padding-bottom:  20px;
          text-align:  center;
      }

        .top-word {
          margin-bottom: 40px;
        }
    

      .reviews {
        width: 15rem;
      }
      .novels {
        width: 18rem;
      }

      @media screen and (max-width: 720px) {
        font-size: 2.0rem;
      }
    }
    .background {
      background-color: rgba(206, 248, 206, 0.5);
      border-radius: 1rem;
      color: rgb(243, 126, 31);
      padding: 1rem;
      box-shadow: 2px 2px 4px gray;
    }
    .link-text {
      color: rgb(243, 126, 31);
    }
  }