ul {
  display: -webkit-flex;
  display: flex;
}

.card {
  background-color: rgb(206, 248, 206);
}

@media (min-width:992px) {
  .user-name {
    margin-bottom: 30px;
    float: left;

    .edit-button {
      margin-top: 30px;
    }
  }
}

@media (max-width:720px) {
  .user-name {
    display: flex;
    justify-content: center;
  }

  .edit-button {
    margin-bottom: 30px;
  }
  
  .my-page {
    display: flex;
    justify-content: center;
  }
}